@charset "UTF-8";

body {
    background-color: rgb(218, 180, 212);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: rgb(255, 6, 6);
    text-align: center;
}

h2{
    color: rgb(208, 255, 0);
    text-align: center;
}

p{
    text-align: justify;
}
