@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #FFFAE0, #E6C6A7, #F7DFDF, #D7BFE0, #D4D9F9);
}

main{
    background-color: white;
    width: 800px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 3px #ad957e94
}

h1{
    color: #E6C6A7;
    text-align: center;
    text-shadow: 1px 1px 0px #9e8973;
}

h2{
    color: #D7BFE0;
}

p {
    text-align: justify;
}